<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
	<title>Connexion</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'GED/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'GED/css/newstyle.css' %}">
<!--	<link rel="stylesheet" type="text/css" href="{% static 'GED/css/all.css' %}">-->
	    <link rel="shortcut icon" type="image/png" href="{% static 'GED/images/realfav.ico' %}"/>
   <!-- <link rel="stylesheet" href="{% static 'GED/css/inscription.css' %}">-->
    <link rel="stylesheet" href="{% static 'GED/assets2/fonts/fontawesome-all.min.css' %}">

</head>
<body>

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto" >
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">

          </div>
          <div class="card-body">
            <h5 class="card-title text-center"><a class="navbar-brand js-scroll-trigger btn btn-primary" href="{% url 'GED:Home' %}"><i class="fa fa-home"></i></a></h5>
             {% if ok %}
              <div class="alert alert-success" role="alert" align="center">
             <h4>{{ ok }}</h4>
              </div>
              {% endif %}
			<p>Veuillez saisir vos informations pour vous connecter</p>
              <br>
              {% if errno %}
              <div class="alert alert-danger" role="alert">{{ errno }}</div>
              {% endif %}
			<form method="POST" action="{% url 'GED:valider' %}">
                {% csrf_token %}
				<div class="form-group" >
					<input type="text" name="username" placeholder="nom utilisateur" required="" class="form-control">
				</div>
				<div class="form-group"><br>
					<input type="password" name="password" placeholder="mot de passe" required="" class="form-control">
				</div>
                <!--<div class="form-group line-block register-left">
                    <div class="maxl">
                        <label class="radio inline">
                            <input type="radio" name="role"  checked>
                            <span style="color: #3a2127">Eleve</span>
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="role" >
                            <span style="color: #3a2127">Professeur</span>
                        </label>
                    </div>
                </div>-->
				<div class="form-group"><br>
                    <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block text-uppercase" >
				</div>
			</form>
			<a href="{% url 'GED:recoverpage' %}">Mot de passe oublié?</a>
			<div class="login-form">
			       Vous n'êtes pas encore inscrit?<br><a class="btn btn-secondary" type="button" href="{% url 'GED:Inscription' %}">S'inscrire</a>
			</div>

		</div>
        </div>
      </div>
    </div>
</div>
</body>
</html>