<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recuperation mot de passe</title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'GED/assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'GED/assets/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'GED/assets/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'GED/assets/css/style.css' %}">
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Recuperation mot de passe oublié</h1>
                        </div>
                    </div>
                    {% if alert3 %}
                        <div class="alert alert-danger align-content-center" align="center" role="alert">
                            {{ alert3 }}
                        </div>
                    {% endif %}
                        <div class="col-sm-6 col-sm-offset-3 text">                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Mot de passe oublié</h3>
	                            		<p>Entrer le nom d'utilisateur ou l'adresse email:</p>
                                        <div class="text-light alert alert-success" role="alert">{{ alert1 }}  {{ userforget.email }} {{ alert2 }}</div>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-lock"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="{% url 'GED:recover' %}" method="post" class="login-form">
				                    	{% csrf_token %}
                                        <div class="form-group">
				                    		<label class="sr-only" for="form-email">email</label>
				                        	<input type="text" name="recup" placeholder="Username or email" class="form-username form-control" id="form-username">
				                        </div>				                        
                                            <button type="submit" class="btn col-sm-5">Submit</button>
                                            <br><br>
				                    </form>
                                    <a class="btn btn-primary" href="{% url 'GED:connexion' %}">Se connecter</a>
                                            <a class="btn btn-primary" href="{% url 'GED:Inscription' %}" style="float:right;">S'inscrire</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>        
        <script src="{% static 'GED/js/jquery-1.12.1.min.js' %}"></script>
        <script src="{% static 'GED/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'GED/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'GED/assets/js/scripts.js' %}"></script>
    </body>
</html>