<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta Http-Equiv="Cache-Control" Content="no-cache"/>
    <meta Http-Equiv="Pragma" Content="no-cache"/>
    <meta Http-Equiv="Expires" Content="0"/>
    <title>POLYHINT</title>
    <link rel="stylesheet" href="{%  static 'GED/sujets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{% static 'GED/assets3/fonts/fontawesome-all.min.css' %}">
</head>

<body id="page-top" onLoad="initialize()"><a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand" role="presentation"><a class="nav-link active js-scroll-trigger" href="#page-top">POLYHINT</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#page-top">Accueil</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">A propos</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">Concours EPT</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contacts</a></li>
					<li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'GED:connexion' %}">Connexion</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'GED:Inscription' %}">S'inscrire</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background-image:url({% static 'GED/images/ept.sn' %});">
        <div class="container my-auto text-center">
            <h1 class="mb-1">E.P.T</h1>
            <h3 class="mb-5"><em>Une école d'excellence</em></h3><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="{% url 'GED:connexion' %}">Se connecter</a>
            <div class="overlay"></div>
        </div>
    </header>
    <section id="about" class="content-section bg-light">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead mb-5"><span>This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at&nbsp;</span><a href="https://unsplash.com/">Unsplash</a><span>!</span></p><a class="btn btn-dark btn-xl js-scroll-trigger" role="button"
                        href="#services">What We Offer</a></div>
            </div>
        </div>
    </section>
    <section id="services" class="content-section bg-primary text-white text-center">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h4><strong>Responsive</strong></h4>
                    <p class="mb-0 text-faded">Looks great on any screen size!</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-pencil"></i></span>
                    <h4><strong>Redesigned</strong></h4>
                    <p class="mb-0 text-faded">Freshly redesigned for Bootstrap 4.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-like"></i></span>
                    <h4><strong>Favorited</strong></h4>
                    <p class="mb-0 text-faded"><span>Milions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-mustache"></i></span>
                    <h4><strong>Question</strong></h4>
                    <p class="mb-0 text-faded">I mustache you a question...</p>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Sujets du concours EPT</h3>
                <h2 class="mb-5">Sujets recents</h2>
            </div>
            <div class="row no-gutters">
                {% for doc in list4 %}
                <div class="col-lg-6">
                    <a class="portfolio-item" href="{{ doc.epreuve.url }}" target="_blank">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>{{ doc.titre }}</h2>
                                <p class="mb-0">{{ doc.annee }}</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'GED/images/pdf.jpg' %}"></a>
                </div>
                {% endfor %}

        </div>
        </div>
        <table class="table">
          <caption>Ensemble des sujets</caption>
          <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Année</th>
              <th scope="col">voir</th>
            </tr>
          </thead>
          <tbody>
              {% for sujet in sujets %}
                <tr>
                  <td>{{ sujet.titre }}</td>
                  <td>{{sujet.annee}}</td>
                  <td><a class="btn btn-primary" href="{{ sujet.epreuve.url }}"><i class="fas fa-eye"></i></a></td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
    </section>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 <span data-toggle="tooltip" data-target="#id" data-placement="top" title="Seul les polytechniciens sont autorisés">
     <i class="icon-upload"></i> Ajouter un sujet</span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="icon-file"></i>Publier un sujet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form method="post" action="{% url 'GED:add' %}" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="custom-file">
              <input type="file" name="epreuve" class="custom-file-input" id="customFile" lang="fr">
              <label class="custom-file-label" for="customFile">Selectionner le fichier</label>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="formGroupExampleInput">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="nom d'utilisateur">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Mot de passe</label>
                  <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Titre</label>
                  <input type="text" name="titre" class="form-control" placeholder="titre">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Année</label>
                  <input type="number" name="annee" class="form-control" placeholder="année du concours">
                </div>
            </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Publier</button>
          </div>
       </form>
      </div>
    </div>
  </div>
</div>
<hr>
<hr>
    <section class="content-section bg-primary text-white">
        <div class="container text-center">
            <h2 class="mb-4">Préparer vous!</h2>

        <!-- Button trigger modal -->

        </div>
    </section>
    <!--<section id="contact" class="map">
        <div class="col-sm-offset-1" id="map_canvas" style="width:500px; height:500px" align="center"></div>
                  <br>
         <label class="form-check-label">Latitude</label>
                  <input type="text" id="lat">
        <label class="form-check-label">Longitude</label>
                  <input type="text" id="lng">
    </section>-->
<hr>
<hr>
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small">Copyright &nbsp;© POLYHINT 2020</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{% static 'GED/sujets/js/script.min.js' %}"></script>
    <style>
  body{
    text-align:center;
  }
  .gmap3{
    margin: 20px auto;
    border: 1px dashed #C0C0C0;
    width: 500px;
    height: 500px;
  }
</style>
<script type="text/javascript">
   var map;
 function initialize() {
 var myLatlng = new google.maps.LatLng(36.85341604753753,10.176080866332995);
 var myOptions = {
 zoom: 14,
 minZoom:14,
 center: myLatlng,
 draggable:false,
 mapTypeId: google.maps.MapTypeId.SATELLITE
 }
map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 var marker = new google.maps.Marker({


draggable: true,
position: myLatlng,
map: map,
  });
google.maps.event.addListener(marker, 'dragend', function (event) {
document.getElementById("lat").value = this.getPosition().lat();
document.getElementById("lng").value = this.getPosition().lng();
}
);
}
</script>
</body>

</html>