<!DOCTYPE html>
<html style="background-color: #99badd;">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index - Polyhint</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'GED/images/realfav.ico' %}"/>
    <link rel="stylesheet" href="{% static 'GED/assets5/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'GED/assets5/fonts/fontawesome-all.min.css' %}">
</head>

<script type="text/javascript">
			window.addEventListener( 'beforeunload', function(ev) {
				document.body.style.display = "none";
			})
			window.onpageshow = function (event) {
			    if (event.persisted) {
			        window.location.reload();
			    }
			};
</script>

<body id="page-top" style="background-color: #6d28aa;">
    <div id="wrapper">
        <nav class="navbar navbar-dark bg-primary align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" data-toggle="tooltip" data-bs-tooltip="" style="background-color: rgb(134,17,145);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Polyhint</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="{% url 'GED:homeP' user.userp.id %}"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:doc_prof' user.userp.id %}"><i class="fas fa-window-maximize"></i><span>Documents</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:publish' user.userp.id %}"><i class="fas fa-upload"></i><span>Publier</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:profile' user.userp.id %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:Deconnecter' %}"><i class="fas fa-user"></i><span>Deconnecter</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background-color: rgb(109,64,205);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{user.userp.username}}</span><img class="border rounded-circle img-profile" src="{{ user.profile.url }}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:profile' user.userp.id %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:edit' user.userp.id %}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="{% url 'GED:Deconnecter' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2"></div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2"></div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2"></div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Liste des tâches terminées</h6>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                {% for task in taskfinish %}
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <h6 class="mb-0"><strong>{{task.tache}}</strong></h6><span class="text-xs">{{ task.tache_time.isoformat }}</span></div>
                                        <div class="custom-control custom-checkbox"><i class="fas fa-check"></i></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                            </div>
                        </div>

                        <hr class="cm-hr">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nouvelle tâche</button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                    <form method="get" action="{% url 'GED:tache' user.userp.id %}">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            <input type="text" name="tache" placeholder="la tâche" class="text-justify form-control" required><br>
                                            <input type="date" name="tache_time" placeholder="date" class="ti-alarm-clock rounded" required>
                                            <br>
                                        </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <input type="submit" class="btn btn-primary" value="Créer">
                                  </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="col">
                            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Liste de vos tâches en cours</h6>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for task in taches %}
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <h6 class="mb-0"><strong>{{task.tache}}</strong></h6><span class="text-xs">{{ task.tache_time }}</span></div>

                                        <form action="{% url 'GED:taskdone' user.userp.id task.tache %}" method="get">
                                            <div class="col-auto">
                                            <div class="custom-control custom-checkbox"><input class="custom-control-input" name="done" type="checkbox" id="formCheck-1" onChange="this.form.submit()"><label class="custom-control-label" for="formCheck-1"></label></div>
                                        </div>
                                        </form>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Polyhint 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{% static 'GED/assets2/js/jquery.min.js' %}"></script>
    <script src="{% static 'GED/assets2/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'GED/assets2/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'GED/assets2/js/theme2.js' %}"></script>
</body>

</html>