<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <title>Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'GED/images/realfav.ico' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'GED/css/profile.css'%}">
    <link rel="stylesheet" type="text/css"  href="{% static 'GED/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'GED/assets2/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'GED/assets2/fonts/fontawesome-all.min.css' %}">

</head>

<script type="text/javascript">
			window.addEventListener( 'beforeunload', function(ev) {
				document.body.style.display = "none";
			})
			window.onpageshow = function (event) {
			    if (event.persisted) {
			        window.location.reload();
			    }
			};
</script>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Polyhint</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    {% if role == "Professeur" %}
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="{% url 'GED:homeP' user.userp.id %}"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:doc_prof' user.userp.id %}"><i class="fas fa-window-maximize"></i><span>Documents</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:publish' user.userp.id %}"><i class="fas fa-table"></i><span>Publier</span></a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:profile' user.userp.id %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                        {% else %}
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="{% url 'GED:homeE' user.user.id %}"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:documents' user.user.id %}"><i class="fas fa-window-maximize"></i><span>Documents</span></a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:pagePerso' user.user.id %}"><i class="fas fa-table"></i><span>Perso</span></a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:profile' user.user.id %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    {% endif %}
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:Deconnecter' %}"><i class="fas fa-user"></i><span>Deconnecter</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                        {% if role == "Eleve" %}
                                    <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.user.username }}</span>
                                    <img class="border rounded-circle img-profile" src="{{ user.profile.url }}" width="50" height="50" alt="image"/></a>

                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:profile' user.user.id %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:edit' user.user.id %}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        {% else %}
                                            <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.userp.first_name }} {{ user.userp.last_name }}</span>
                                    <img class="border rounded-circle img-profile" src="{{ user.profile.url }}" width="50" height="50" alt="image"/></a>

                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:profile' user.userp.id %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:edit' user.userp.id %}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>

                                        {% endif %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:Deconnecter' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                     </div>
                </nav>

            <!-----------------------------------------------------------  Profile --------------------------------------------------->

                <div class="row container-fluid">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img class="rounded-circle" src="{{ other.profile.url }}" alt="image"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h1 class="font-bold mt-4 mb-3" >{{ other }}</h1>
                            {% if role == "Eleve" %}
                                <p class="proile-rating">
                                    CLASSE : <span>{{ other.niveau }}</span><br>
                                    FILIERE : <span>{{ other.filiere }}</span>
                                </p>
                            {% endif %}
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <ul class="list-group">
                                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                            </ul>
                            <p>Social Media</p>
                            {% for row in medias %}
                            <!-------------------------------------------------------------------------------------->
                            {% if row.network == "facebook" %}
                                <a href="{{ row.url }}">Facebook</a><br/>
                            {% elif row.network == "google" %}
                                <a href="{{ row.url }}">Google+</a><br/>
                            {% elif row.network == "twitter" %}
                                <a href="{{ row.url }}">Twitter</a><br/>
                            {% elif row.network == "linkedin" %}
                                <a href="{{ row.url }}">Linkedin</a><br/>
                            {% elif row.network == "instagram" %}
                                <a href="{{ row.url }}">Instagram</a><br/>
                            {% endif %}
                            <!-------------------------------------------------------------------------------------->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nom</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{% if role == 'Eleve' %}
                                            {{ other.user.first_name }} {{ other.user.last_name }}
                                        {% else %}
                                            {{ other.userp.first_name }} {{ other.userp.last_name }}
                                        {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ other.user.email }}</p>
                                    </div>
                                 </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Sexe</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ other.sexe }}</p>
                                    </div>
                                </div>
                                {% if role == 'Eleve' %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>telephone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ other.telephone }}</p>
                                        </div>
                                    </div>

                                {% endif %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Joindate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ other.joindate }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    <div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>

<script src="{% static 'GED/jquery/jquery.min.js' %}"></script>
<script src="{% static 'GED/assets2/js/jquery.min.js' %}"></script>
<script src="{% static 'GED/assets2/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="{% static 'GED/assets2/js/theme.js' %}"></script>
</body>
</html>


