<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="cache-control" content="no-store">
    <meta http-equiv="cache-control" content="must-revalidate">
    <title>Profile</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'GED/images/realfav.ico' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'GED/assets5/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css"  href="{% static 'GED/assets5/fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" type="text/css"  href="{% static 'GED/assets5/scss/eleve.scss'%}">

      <!-- All Plugin Css -->
        <link rel="stylesheet" href="{% static 'GED/profile/css/plugins.css'%}">

        <!-- Style & Common Css -->
        <link rel="stylesheet" href="{% static 'GED/profile/css/common.css'%}">
        <link rel="stylesheet" href="{% static 'GED/profile/css/main.css'%}">
</head>

<script type="text/javascript">
			window.addEventListener( 'beforeunload', function(ev) {
				document.body.style.display = "none";
			})
			window.onpageshow = function (event) {
			    if (event.persisted) {
			        window.location.reload();
			    }
			};
</script>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Polyhint</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    {% if role == "Eleve" %}
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="{% url 'GED:homeE' user.user.id %}"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:documents' user.user.id %}"><i class="fas fa-window-maximize"></i><span>Documents</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:pagePerso' user.user.id %}"><i class="fas fa-table"></i><span>Perso</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:Deconnecter' %}"><i class="fas fa-user"></i><span>Deconnecter</span></a></li>

                    {% else %}
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="{% url 'GED:homeP' user.userp.id %}"><i class="fas fa-tachometer-alt"></i><span>Accueil</span></a>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:doc_prof' user.userp.id %}"><i class="fas fa-window-maximize"></i><span>Documents</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:publish' user.userp.id %}"><i class="fas fa-upload"></i><span>Publier</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'GED:Deconnecter' %}"><i class="fas fa-user"></i><span>Deconnecter</span></a></li>

                    {% endif %}
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>

        <div id="content-wrapper" class="d-flex flex-column">
            <div class="col-lg-12" id="content">
                <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top" id="topNav">
                    <div class="container-fluid">
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                {% if role == "Eleve" %}
                                    <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.user.username }}</span>
                                    <img class="border rounded-circle img-profile" src="{{ user.profile.url }}" width="50" height="50" alt="image"/></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:profile' user.user.id %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:edit' user.user.id %}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                {% else %}
                                    <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.userp.username }}</span>
                                    <img class="border rounded-circle img-profile" src="{{ user.profile.url }}" width="50" height="50" alt="image"/></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:profile' user.userp.id %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <a class="dropdown-item" role="presentation" href="{% url 'GED:edit' user.userp.id %}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" role="presentation" href="{% url 'GED:Deconnecter' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-----------------------------------------------------------  Publish --------------------------------------------------->

		        <div class="basic-information">
                    <div class="col-md-4 col-sm-4">
                        <img src="{{ user.profile.url }}" alt="image" class="img-fluid">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-11 col-sm-11 profile-content">
                            <h2>{{ user }}</h2>
                            <p>Ecole Polytechnique Thies</p>
                            <ul class="information">
                                <li><span>Name:</span>
                                    {% if role == 'Eleve' %}
                                        {{ user.user.first_name }} {{ user.user.last_name }}
                                    {% else %}
                                        {{ user.userp.first_name }} {{ user.userp.last_name }}
                                    {% endif %}
                                </li>
                                <li><span>Email:</span>
                                    {% if role == "Eleve" %}
                                        {{ user.user.email }}
                                    {% else %}
                                        {{ user.userp.email }}
                                    {% endif %}
                                </li>
                                {% if role == "Eleve" %}
                                    <li><span>Classe:</span>{{ user.niveau }}</li>
                                    <li><span>Filiere:</span>{{ user.filiere }}</li>
                                    <li><span>Age:</span>{{ age }}</li>
                                {% endif %}
                                <li><span>Mobile:</span>{{ user.telephone }}</li>
                                <li><span>Joindate:</span>{{ user.joindate }}</li>
                            </ul>
                        </div>
                    </div>
                    {% if role == "Eleve" %}
                        <div class="col-md-2 col-sm-2">
                            <button type="submit" class="btn btn-primary bg-transparent"><a href="{% url 'GED:edit' user.user.id %}">Editer Profile</a></button>
                        </div>
                        <ul class="social">
                        {% for row in medias %}
                            <!-------------------------------------------------------------------------------------->
                            {% if row.network == "facebook" %}
                                <li><a href="{{ row.url }}" class="facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                            {% elif row.network == "google" %}
                                <li><a href="{{ row.url }}" class="google"><i class="fa fa-google-plus"></i>Google</a></li>
                            {% elif row.network == "twitter" %}
                                <li><a href="{{ row.url }}" class="twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                            {% elif row.network == "linkedin" %}
                                <li><a href="{{ row.url }}" class="linkedin"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
                            {% elif row.network == "instagram" %}
                                <li><a href="{{ row.url }}" class="instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
                            {% endif %}
                            <!-------------------------------------------------------------------------------------->
                        {% endfor %}
                        </ul>
                    {% else %}
                        <div class="col-md-2 col-sm-2">
                            <button type="submit" class="btn btn-primary bg-transparent"><a href="{% url 'GED:edit' user.userp.id %}">Editer Profile</a></button>
                        </div>
                        <ul class="social">
                        {% for row in medias %}
                            <!-------------------------------------------------------------------------------------->
                            {% if row.network == "facebook" %}
                                <li><a href="{{ row.url }}" class="facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                            {% elif row.network == "google" %}
                                <li><a href="{{ row.url }}" class="google"><i class="fa fa-google-plus"></i>Google</a></li>
                            {% elif row.network == "twitter" %}
                                <li><a href="{{ row.url }}" class="twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                            {% elif row.network == "linkedin" %}
                                <li><a href="{{ row.url }}" class="linkedin"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
                            {% elif row.network == "instagram" %}
                                <li><a href="{{ row.url }}" class="instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
                            {% endif %}
                            <!-------------------------------------------------------------------------------------->
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> About Me
                        </div>
                        <div class="panel-body">
                            <p>{{ user.about }}</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-leaf fa-fw"></i> Responsibilities:
                        </div>
                                                    <!-- /.panel-heading -->
                                <div class="panel-body">
                                <p>The front end is the part that users see and interact with, includes the User Interface, the animations, and usually a bunch of logic to talk to the backend. It is the visual bit that the user interacts with.</p>
                                <ul>
                                    <li>Software testing in a Web Applications/Mobile environment.</li>
                                    <li>Software Test Plans from Business Requirement Specifications for test engineering group.</li>
                                    <li>Software testing in a Web Applications environment.</li>
                                    <li>Translate designs into responsive web interfaces</li>
                                    <li>Software testing in a Web Applications/Mobile environment.</li>
                                    <li>Software testing in a Web Applications environment.</li>
                                    <li>Translate designs into responsive web interfaces</li>
                                    <li>Software Test Plans from Business Requirement Specifications for test engineering group.</li>
                                    <li>Run production tests as part of software implementation; Create, deliver and support test plans for testing group to execute.</li>
                                    <li>Run production tests as part of software implementation; Create, deliver and support test plans for testing group to execute.</li>
                                </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-cog fa-fw"></i> Skills
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                <p>The front end is the part that users see and interact with, includes the User Interface, the animations, and usually a bunch of logic to talk to the backend.</p>
                                <span class="service-tag">Web Design</span>
                                <span class="service-tag">Graphics</span>
                                <span class="service-tag">Development</span>
                                <span class="service-tag">App design</span>
                                <span class="service-tag">IOS Apps</span>
                                <span class="service-tag">CMS Development</span>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>



<script src="{% static 'GED/assets5/js/jquery.min.js'%}"></script>
<script src="{% static 'GED/assets5/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'GED/assets5/js/theme.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>